.flex-container {
    display: inline-flex;
    flex-direction: column;
    border: none;
    justify-content: center;
  }

  .date{
    display: inline-flex;
    flex-direction: column;
    flex: 1;

  }
  .concept{
    display: inline-flex;
    flex-direction: column;
    flex: 1;
  }
  .entry{
    display: inline-flex;
    flex-direction: column;
    flex: 1;
  }
  .mood{
    display: inline-flex;
    flex-direction: column;
    flex: 1;
  }
  .single-entry {
    margin: auto;
  }

  /* body {
    background-image: url(https://wallpaperaccess.com/full/388295.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  } */